---
import { CardGrid, LinkCard } from '@astrojs/starlight/components';

export const botchDesc = `
	For <strong>World of Darkness</strong> chronicles.
  <ul>
  	<li>Mortals</li>
  	<li>Ghouls</li>
  	<li>Vampires</li>
  </ul>
`;
export const beatDesc = `
	For <strong>Chronicles of Darkness</strong> games.
  <ul>
  	<li>Mortals</li>
  	<li>Ghouls</li>
  	<li>Vampires</li>
  </ul>
`;
---

<CardGrid>
	<LinkCard
		title="Botch"
		description={botchDesc}
		href="https://discord.com/oauth2/authorize?client_id=1295422373855498321"
	/>
	<LinkCard
		title="Beat"
		description={beatDesc}
		href="https://discord.com/oauth2/authorize?client_id=1298447204129702041"
	/>
</CardGrid>
